<!doctype html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="static/css/rtreversi.css" type="text/css"/>
<title>WTRiversi</title>
</head>
<body>
<canvas id='game' width='520' height='520'></canvas>
<ul id='status'></ul>

<script type="text/javascript" src="static/js/assets/underscore.js"></script>
<script type="text/javascript" src="static/js/assets/jquery.js"></script>
<script type="text/javascript" src="static/js/assets/json2.js"></script>
<script type="text/javascript" src="static/js/assets/backbone.js "></script>

<script type="text/javascript" src="static/js/namespace.js "></script>
<script type="text/javascript" src="static/js/models/status.js "></script>
<script type="text/javascript" src="static/js/models/reversi.js "></script>
<script type="text/javascript" src="static/js/collections/status.js "></script>
<script type="text/javascript" src="static/js/views/status.js "></script>
<script type="text/javascript" src="static/js/views/communicator.js "></script>
<script type="text/javascript" src="static/js/views/reversi.js "></script>
<script type="text/javascript" src="static/js/views/status_collection.js "></script>
<script type="text/javascript" src="static/js/app.js "></script>
</body>
</html>
